.left-panel-main-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 22px;
}
.list{
    background-color: transparent !important;
    color: azure;
    font-size: 10px;
    line-height: 1px;

}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer-icons{
    color: white;
    font-size: 24px;
    margin-bottom: 44px;
}
.list-children{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
